* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #000, #888);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.container {
    border-radius: 15px;
    padding: 3rem;
    background: transparent;
    box-shadow: 0 0 10px #888;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.input-box {
    position: relative;
}

#password {
    background: #fff;
    border: none;
    outline: none;
    padding: .5rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1.25rem;
    margin-top: 2rem;
    position: relative;
}

.input-box>span {
    position: absolute;
    right: .25rem;
    bottom: .5rem;
    color: #000;
    cursor: pointer;
}

.row {
    font-size: 1.1rem;
}

.length {
    width: 100%;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.msg {
    display: none;
    font-size: .8rem;
    color: #f00;
}

.msg::before {
    content: '*';
}

#gnrt-btn {
    height: 2rem;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(0, 208, 255, 0.5);
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
    transition: all .1s;
}

#gnrt-btn:hover {
    background-color: rgba(0, 208, 255, 0.2);
    position: relative;
    transform: translateY(-10%);
}